---
import { NAVIGATION_LINKS, SOCIAL_LINKS, OTHER_LINKS } from "~/lib/config";
import Hashtag from "~/assets/svgs/hashtag.astro";
import Icon from "../bases/icon.astro";
---

<footer class="footer border-t border-base-content py-6">
  <div class="container">
    <div class="flex flex-col gap-4">
      <aside class="flex items-center gap-2">
        <Hashtag/>
        <p>
          <strong class="text-lg">Un Simple Programador</strong>
          <br />
          Creado con ❤️ para autodidactas
          <!-- Creado con <a
            class="underline"
            href="https://astro.build"
            target="_blank">Astro</a
          > --> por <a
          class="underline"
          href="https://carldesigner.vercel.app"
          target="_blank">CarlDesigner</a
        >.
        </p>
      </aside>
      <nav
        class="flex flex-col gap-4 lg:flex-row lg:flex-wrap text-base lg:text-sm font-semibold"
      >
        <a href="/" class="link link-hover">Home</a>
        <a href="/articles" class="link link-hover">Articulos</a>
        {
          NAVIGATION_LINKS.map(({ href, text, target }) => (
            <a href={href} class="link link-hover" target={target ?? "_self"}>
              {text}
            </a>
          ))
        }
      </nav>
    </div>
    <div class="divider w-full h-1"></div>
    <div class="flex flex-col gap-4">
      <nav>
        <div class="flex gap-4">
          <p class="font-bold">Social Media:</p>
          <ul class="flex flex-wrap gap-4">
            {
              SOCIAL_LINKS.map(({ href, icon, text, target }) => (
                <li>
                  <a
                    href={href}
                    class="link link-hover"
                    target={target ?? "_blank"}
                    title={text}
                    aria-label={text}
                  >
                    <Icon icon={icon} />
                  </a>
                </li>
              ))
            }
          </ul>
        </div>
      </nav>
      <nav class="flex flex-wrap gap-4 text-xs mt-2">
        {
          OTHER_LINKS.map(({ href, text, target }) => (
            <a href={href} class="link link-hover" target={target ?? "_self"}>
              {text}
            </a>
          ))
        }
      </nav>
    </div>
  </div>
</footer>
