---
import { ClientRouter } from "astro:transitions";
import "@fontsource/source-sans-pro/400.css";
import "@fontsource/source-sans-pro/600.css";
import "@fontsource/source-sans-pro/700.css";
import "@fontsource-variable/source-serif-4";
import "~/assets/styles/globals.css";
import { SITE } from "~/lib/config";
import type { ArticleMeta, Meta } from "~/lib/types";

type Props = {
  meta: Meta | ArticleMeta;
};

const { meta } = Astro.props;

// Type guard to check if props is ArticleMeta
const isArticleMeta = (props: Props["meta"]): props is ArticleMeta =>
  props.type === "article";
const canonicalURL = new URL(Astro.url.pathname, Astro.site).href;
const OGImage = new URL(meta.ogImage, Astro.url).href;
---

<head>
  <!-- Global Metadata -->
  <meta charset={SITE.charset} />
  <meta name="viewport" content="width=device-width,initial-scale=1" />
  <meta name="generator" content={Astro.generator} />

  <!-- Google tag (gtag.js) -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-261EF86MNJ"></script>
  <script is:inline>
    window.dataLayer = window.dataLayer || [];
    function gtag(){ dataLayer.push(arguments); }
    gtag('js', new Date());
    gtag('config', 'G-261EF86MNJ');
  </script>





  <!-- Favicons -->
  <link rel="icon" type="image/png" href="/favicon-96x96.png" sizes="96x96" />
  <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
  <link rel="shortcut icon" href="/favicon.ico" />
  <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
  <meta name="apple-mobile-web-app-title" content="Astro News" />
  <link rel="manifest" href="/site.webmanifest" />

  <!-- RSS & Sitemap -->
  <link rel="sitemap" href="/sitemap-index.xml" />
  <link
    rel="alternate"
    type="application/rss+xml"
    title={SITE.title}
    href={new URL("rss.xml", Astro.site)}
  />

  <!-- Canonical URL -->
  <link rel="canonical" href={canonicalURL} />

  <!-- Page Metadata -->
  <title>{meta.title}</title>
  <meta name="title" content={meta.metaTitle} />
  <meta name="description" content={meta.description} />

  <!-- Open Graph / Facebook -->
  <meta property="og:type" content={meta.type} />
  <meta property="og:url" content={canonicalURL} />
  <meta property="og:title" content={meta.metaTitle} />
  <meta property="og:description" content={meta.description} />
  <meta property="og:image" content={OGImage} />
  <meta property="og:image:alt" content={meta.ogImageAlt} />

  <!-- Twitter -->
  <meta property="twitter:site" content={Astro.site} />
  <meta property="twitter:card" content="summary_large_image" />
  <meta property="twitter:url" content={canonicalURL} />
  <meta property="twitter:title" content={meta.metaTitle} />
  <meta property="twitter:description" content={meta.description} />
  <meta property="twitter:image" content={OGImage} />
  <meta property="twitter:image:alt" content={meta.ogImageAlt} />

  {
    isArticleMeta(meta) ? (
      <>
        <meta
          property="article:published_time"
          content={new Date(meta.publishedTime).toISOString()}
        />
        <meta
          property="article:modified_time"
          content={new Date(meta.lastModified).toISOString()}
        />

        {meta.authors.map((author) => (
          <>
            <meta property="author" content={author.name} />
            <meta
              property="article:author"
              content={`${Astro.site}authors/${author.link}`}
            />
          </>
        ))}
      </>
    ) : null
  }

  <ClientRouter />
</head>
