---
import { getEntry } from "astro:content";
import BaseLayout from "../layouts/base.astro";

const entry = await getEntry("views", "error404");

if (!entry) {
  throw new Error("404 page not found");
}

const [HERO] = entry.data.blocks;
---

<BaseLayout entry={entry}>
  <div class="container flex flex-col items-center justify-center py-20">
    <h1 class="text-4xl">{HERO.title}</h1>
    <p class="mt-2">{HERO.description}</p>
    <a href={HERO.link_url} class="btn mt-6" aria-label="Return to Homepage"
      >{HERO.link_text}</a
    >
  </div>
</BaseLayout>
