---
import type { GetStaticPaths } from "astro";
import { SITE } from "~/lib/config";
import { articlesHandler } from "~/lib/handlers/articles";
import { authorsHandler } from "~/lib/handlers/authors";
import ListLayout from "~/layouts/list.astro";
import WideCard from "~/components/cards/wideCard.astro";
import PaginationOne from "~/components/shared/pagination-one.astro";
import { getEntry } from "astro:content";

export const getStaticPaths = (({ paginate }) => {
  const allAuthors = authorsHandler.allAuthors();
  const allArticles = articlesHandler.allArticles();

  return allAuthors.flatMap((author) => {
    const filteredArticles = allArticles.filter((article) =>
      article.data.authors.map((a) => a.id).includes(author.id)
    );
    return paginate(filteredArticles, {
      params: { id: author.id },
      pageSize: SITE.postsPerPage,
    });
  });
}) satisfies GetStaticPaths;

const { page } = Astro.props;
const params = Astro.params;
const articles = page.data;
const pathname = new URL(Astro.request.url).pathname.split("/");
const firstPath = pathname[1];

const entry = await getEntry("views", "author");
const author = authorsHandler.findAuthor(params.id);

if (!entry) {
  return Astro.redirect("/404");
}

const [HEADER] = entry.data.blocks;
---

<ListLayout
  header={`${author.data.name}'s ${HEADER.title}`}
  entry={{
    ...entry,
    data: {
      ...entry.data,
      title: `${author.data.name}'s ${entry.data.title}`,
    },
  }}
>
  <section class="flex-1">
    <ul class="flex flex-col gap-4">
      {
        articles.map((article) => (
          <WideCard
            article={article}
            isLast={articles.lastIndexOf(article) === articles.length - 1}
          />
        ))
      }
    </ul>
  </section>

  <PaginationOne
    length={page.lastPage}
    currentUrl={page.url.current}
    currentPage={page.currentPage}
    firstUrl={`/${firstPath}`}
    prevUrl={page.url.prev}
    nextUrl={page.url.next}
    lastUrl={`/${firstPath}/${page.lastPage}`}
  />
</ListLayout>
